 <div style="text-align: right;margin:10px;">
 	<button id="newAccount" class="btn">Nouveau compte</button>
 	<button id="login" class="btn btn-primary">Login</button>
    <button id="logout" style="display:none" class="btn btn-primary">Logout</button>
</div>
<div id="calendar" style="width:70%;margin:50px auto;">
</div>
<div id="divLogin">
</div>
<div id="divNewAccount">
</div>
<div id="divEvent">
</div>