<div id="modalLogin" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Authentification</h4>
        </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label  class="control-label" for="title">Utilisateur</label>
                <div class="controls">
                    <input type="text" class="form-control" id="username" placeholder="Utilisateur">
                </div>
            </div>
            <div class="control-group">
                <label  class="control-label" for="title">Mot de passe</label>
                <div class="controls">
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                </div>
            </div>
        </form>        
    </div>
    <div class="modal-footer">
        <button id="connexion" type="button" class="btn btn-primary">Connexion</button>
    </div>
</div>
</div>
</div>